@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "react-alice-carousel/lib/alice-carousel.css";



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif, Georgia, 'Times New Roman', Times, serif;
}

.glass-effect {
  background: rgba(210, 210, 212, 0.136);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(236, 235, 238, 0.18);
}


.bg-main {
  background-image: url("../src/assets/img/bgMain.jpg");
  background-repeat: no-repeat;
  background-position: initial;
  background-size: cover;
}

.bg-shop {
  background-image: url("../src/assets/img/wallpaperMain.jpg");
  /* background-color: rgb(29, 18, 47); */
  background-repeat: no-repeat;
  background-position: initial;
  background-size:cover;
}

.bg-card {
  /* background-image: url("../src/assets/img/wallpaperMain.jpg"); */
  /* background-color: rgb(29, 18, 47); */
  background-repeat: no-repeat;
  background-position: initial;
  background-size:cover;
}

.product-off {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabela, th, td {
  border-collapse: unset;
  /*define a separação entre as bordar*/
  padding: 10px;
  text-align: start;
}

th {
  background-color: #25335C;
}

/* Works on Firefox */
* {
  scrollbar-width:none;
}

